<div class="row">
    <h1>Maintenance Contracts</h1>
  </div>
  
  <div *ngIf="pagedList.pagedData && pagedList.pagedData.length > 0" class="row justify-content-center">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Store Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th>View</th>
            <th>Payments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let maintenanceContract of pagedList.pagedData">
            <th scope="row">{{ maintenanceContract.maintenanceContractId }}</th>
            <td>
              {{ maintenanceContract.store?.storeName }}
            </td>
            <td>{{ maintenanceContract.contractAmount }}</td>
            <td>{{ maintenanceContract.contractStartDate | date: "yyyy-MM-dd" }}</td>
            <td>{{ maintenanceContract.contractEndDate | date: "yyyy-MM-dd" }}</td>
            <td>
              <a class="btn btn-primary" routerLink="/maintenance-contract/{{ maintenanceContract.storeId }}"
                >View</a
              >
            </td>
            <td>
              <a class="btn btn-primary" routerLink="/maintenance-payments/{{ maintenanceContract.maintenanceContractId }}"
                >View</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="pagedList.totalItemsCount"
          [(page)]="currentPage"
          [pageSize]="pageSize"
          (pageChange)="refreshMaintenanceContractList()"
        >
        </ngb-pagination>
  
        <select
          class="form-select"
          style="width: auto"
          [(ngModel)]="pageSize"
          (ngModelChange)="refreshMaintenanceContractList()"
        >
          <option [ngValue]="10">10</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
      </div>
    </div>
  </div>
  
  